@import "../main/mixins";

.preview-lightbox {
  border: none;
  width: var(--width-main-content);
  background: var(--color-bg-light);
  border: var(--border-main);
  border-radius: var(--border-radius-main);
  overflow: hidden;
  padding: 0;
  
  &::backdrop {
    background: rgba(0, 0, 0, 0.75);
  }

  &__image {
    @include image;

    position: absolute;
    object-fit: contain;
    width: 20%;
    height: 18rem;
    width: 20%;
    bottom: calc(19% + 7vh);
    left: 44.5%;
    object-position: left bottom;
    rotate: 327deg;
    filter: invert(8%) sepia(100%) saturate(15500%) hue-rotate(201deg) brightness(97%) contrast(142%);
  }

  &__bg-image {
    @include image;

    width: 100%;
    height: auto;
    max-height: 80vh;
    object-position: right 80%;
  }

  @media screen and (width < 750px) {
    &__image {
      width: 40%;
      left: 28.5%;
    }
    
    &__bg-image {
      width: 200%;
      margin-left: -65%;
      object-position: right 70%;
    }
  }

  @media screen and (width < 500px) {
    &__image {
      width: 40%;
      left: 32.5%;
      height: 11rem;
    }

    &__bg-image {
      width: 250%;
      margin-left: -85%;
      object-position: right 75%;
    }
  }
}